In [46]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import lib.clean as lc
import lib.data_preprocessing as DP

# Extract the Data
df = pd.read_csv('Telco_Customer_Churn.csv')

In [47]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
df = df.replace(" ", np.nan)

In [5]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [6]:
df.shape

(7043, 21)

In [48]:
df.dropna(how = 'any', inplace = True)

In [8]:
df.shape

(7032, 21)

In [9]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [12]:
# Data Cleaning
#print(df.isna().sum())

# Capitalize the column names
df = lc.clean_dataframe(df)

df = lc.group_tenure(df)

# Data Preprocessing
keep_columns = []
for col in df.columns:
    if col not in ['Tenure', 'Customerid']:
        keep_columns.append(col)

df = df[keep_columns]

In [13]:
df.head()

,Gender,Seniorcitizen,Partner,Dependents,Phoneservice,Multiplelines,Internetservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,Streamingtv,Streamingmovies,Contract,Paperlessbilling,Paymentmethod,Monthlycharges,Totalcharges,Churn,CreatedTenure
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,One_Year
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No,Three_Year
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,One_Year
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Three_Year
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,One_Year

In [49]:
y = df[['Churn']]

In [15]:
y.head()

  Churn
0    No
1    No
2   Yes
3    No
4   Yes

In [16]:
df.drop(['Churn'], axis = 1, inplace = True)

In [17]:
df.head() # Validation

,Gender,Seniorcitizen,Partner,Dependents,Phoneservice,Multiplelines,Internetservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,Streamingtv,Streamingmovies,Contract,Paperlessbilling,Paymentmethod,Monthlycharges,Totalcharges,CreatedTenure
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,One_Year
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,Three_Year
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,One_Year
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,Three_Year
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,One_Year

In [18]:
dp = DP.PreProcessing(df)

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.df = df.copy()

In [19]:
multCol, binCol = dp.get_categorical()

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:20: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.cat_cols = self.df.nunique()[self.df.nunique() < 6].keys().tolist() # getting
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:22: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.num_cols = [x for x in self.df.columns if x not in self.cat_cols]
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.bin_cols = self.df.nunique()[self.df.nunique() == 2].keys().tolist()
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.multi_cols = [x for x in self.cat_cols if x not in self.bin_cols]

In [20]:
multCol

['Multiplelines',
 'Internetservice',
 'Contract',
 'Paymentmethod',
 'CreatedTenure']

In [21]:
binCol

['Gender',
 'Seniorcitizen',
 'Partner',
 'Dependents',
 'Phoneservice',
 'Onlinesecurity',
 'Onlinebackup',
 'Deviceprotection',
 'Techsupport',
 'Streamingtv',
 'Streamingmovies',
 'Paperlessbilling']

In [23]:
for col in multCol:
    emb = DP.Embedding(df[col], 7, col)
    dfdf = emb.create()
    df = pd.concat([df, dfdf], axis = 1)
    df.drop(col, axis =1, inplace = True)

In [24]:
df.head()

,Gender,Seniorcitizen,Partner,Dependents,Phoneservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,Streamingtv,...,Paymentmethod_4,Paymentmethod_5,Paymentmethod_6,CreatedTenure_0,CreatedTenure_1,CreatedTenure_2,CreatedTenure_3,CreatedTenure_4,CreatedTenure_5,CreatedTenure_6
0,Female,No,Yes,No,No,No,Yes,No,No,No,...,-0.869636,0.578437,0.335531,1.095972,0.410053,-0.855668,-1.606836,-0.068363,0.649545,0.190762
1,Male,No,No,No,Yes,Yes,No,Yes,No,No,...,-1.121507,-0.726168,0.680499,-0.488267,2.060996,-1.498005,-1.678530,0.265822,-1.033579,-1.542262
2,Male,No,No,No,Yes,Yes,Yes,No,No,No,...,-1.121507,-0.726168,0.680499,1.095972,0.410053,-0.855668,-1.606836,-0.068363,0.649545,0.190762
3,Male,No,No,No,No,Yes,No,Yes,Yes,No,...,-0.341897,-1.229367,1.009211,-0.488267,2.060996,-1.498005,-1.678530,0.265822,-1.033579,-1.542262
4,Female,No,No,No,Yes,No,No,No,No,No,...,-0.869636,0.578437,0.335531,1.095972,0.410053,-0.855668,-1.606836,-0.068363,0.649545,0.190762

In [25]:
pre = DP.PreProcessing(df)

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.df = df.copy()

In [26]:
df = pre.Encode_OHE()

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:20: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.cat_cols = self.df.nunique()[self.df.nunique() < 6].keys().tolist() # getting
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:22: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.num_cols = [x for x in self.df.columns if x not in self.cat_cols]
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.bin_cols = self.df.nunique()[self.df.nunique() == 2].keys().tolist()
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.multi_cols = [x for x in self.cat_cols if x not in self.bin_cols]

In [27]:
df.to_csv('Model_DataFrame.csv')

In [28]:
X = pd.read_csv('Model_DataFrame.csv')

In [29]:
X.head()

,Unnamed: 0,Monthlycharges,Totalcharges,Multiplelines_0,Multiplelines_1,Multiplelines_2,Multiplelines_3,Multiplelines_4,Multiplelines_5,Multiplelines_6,...,Deviceprotection_No,Deviceprotection_Yes,Techsupport_No,Techsupport_Yes,Streamingtv_No,Streamingtv_Yes,Streamingmovies_No,Streamingmovies_Yes,Paperlessbilling_No,Paperlessbilling_Yes
0,0,29.85,29.85,0,2,0,0,1,1,1,...,1,0,1,0,1,0,1,0,0,1
1,1,56.95,1889.50,2,1,2,2,0,2,0,...,0,1,1,0,1,0,1,0,1,0
2,2,53.85,108.15,2,1,2,2,0,2,0,...,1,0,1,0,1,0,1,0,0,1
3,3,42.30,1840.75,0,2,0,0,1,1,1,...,0,1,0,1,1,0,1,0,1,0
4,4,70.70,151.65,2,1,2,2,0,2,0,...,1,0,1,0,1,0,1,0,0,1

In [30]:
X.columns

Index(['Unnamed: 0', 'Monthlycharges', 'Totalcharges', 'Multiplelines_0',
       'Multiplelines_1', 'Multiplelines_2', 'Multiplelines_3',
       'Multiplelines_4', 'Multiplelines_5', 'Multiplelines_6',
       'Internetservice_0', 'Internetservice_1', 'Internetservice_2',
       'Internetservice_3', 'Internetservice_4', 'Internetservice_5',
       'Internetservice_6', 'Contract_0', 'Contract_1', 'Contract_2',
       'Contract_3', 'Contract_4', 'Contract_5', 'Contract_6',
       'Paymentmethod_0', 'Paymentmethod_1', 'Paymentmethod_2',
       'Paymentmethod_3', 'Paymentmethod_4', 'Paymentmethod_5',
       'Paymentmethod_6', 'CreatedTenure_0', 'CreatedTenure_1',
       'CreatedTenure_2', 'CreatedTenure_3', 'CreatedTenure_4',
       'CreatedTenure_5', 'CreatedTenure_6', 'Gender_Female', 'Gender_Male',
       'Seniorcitizen_No', 'Seniorcitizen_Yes', 'Partner_No', 'Partner_Yes',
       'Dependents_No', 'Dependents_Yes', 'Phoneservice_No',
       'Phoneservice_Yes', 'Onlinesecurity_No', 'Onlinesecurity_Yes',
       'Onlinebackup_No', 'Onlinebackup_Yes', 'Deviceprotection_No',
       'Deviceprotection_Yes', 'Techsupport_No', 'Techsupport_Yes',
       'Streamingtv_No', 'Streamingtv_Yes', 'Streamingmovies_No',
       'Streamingmovies_Yes', 'Paperlessbilling_No', 'Paperlessbilling_Yes'],
      dtype='object')

1. Scaling (standard scaler)
2. feature extraction (PCA)
3. pass through algorithms
4. Check the metrics (confusion matrix)
5. Prediction

In [31]:
X.drop('Unnamed: 0', axis = 1, inplace = True)

In [32]:
X.head()

,Monthlycharges,Totalcharges,Multiplelines_0,Multiplelines_1,Multiplelines_2,Multiplelines_3,Multiplelines_4,Multiplelines_5,Multiplelines_6,Internetservice_0,...,Deviceprotection_No,Deviceprotection_Yes,Techsupport_No,Techsupport_Yes,Streamingtv_No,Streamingtv_Yes,Streamingmovies_No,Streamingmovies_Yes,Paperlessbilling_No,Paperlessbilling_Yes
0,29.85,29.85,0,2,0,0,1,1,1,2,...,1,0,1,0,1,0,1,0,0,1
1,56.95,1889.50,2,1,2,2,0,2,0,2,...,0,1,1,0,1,0,1,0,1,0
2,53.85,108.15,2,1,2,2,0,2,0,2,...,1,0,1,0,1,0,1,0,0,1
3,42.30,1840.75,0,2,0,0,1,1,1,2,...,0,1,0,1,1,0,1,0,1,0
4,70.70,151.65,2,1,2,2,0,2,0,1,...,1,0,1,0,1,0,1,0,0,1

In [33]:
print(y.shape);print(X.shape)

(7032, 1)
(7032, 61)

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
sc = StandardScaler()

In [36]:
sc.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [37]:
X_std = sc.transform(X)

In [38]:
X_std

array([[-1.16169394, -0.99419409, -2.1113551 , ..., -0.79684918,
        -0.82893915,  0.82893915],
       [-0.26087792, -0.17373982,  0.93825958, ..., -0.79684918,
         1.20636117, -1.20636117],
       [-0.36392329, -0.95964911,  0.93825958, ..., -0.79684918,
        -0.82893915,  0.82893915],
       ...,
       [-1.17000405, -0.85451414, -2.1113551 , ..., -0.79684918,
        -0.82893915,  0.82893915],
       [ 0.31916782, -0.87209546, -0.58654776, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [ 1.35793167,  2.01234407,  0.93825958, ...,  1.25494263,
        -0.82893915,  0.82893915]])

In [ ]:
X_std1 = sc.fit_transform(X)

In [ ]:
X_std1

In [39]:
y['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [50]:
yp = y.copy()

In [66]:
# Check later
convert = lambda x: 0 if x is 'No' else 1

In [67]:
convert('Yes')

1

In [68]:
yp['Omolewa'] = yp['Churn'].map(convert)

In [69]:
yp.head()

  Churn  Omolewa
0    No        1
1    No        1
2   Yes        1
3    No        1
4   Yes        1

In [62]:
convert(y['Churn'][0])

0

In [63]:
y['Churn'][0]

'No'

In [71]:
dic = {'Yes': 1, 'No': 0}

In [72]:
convert = lambda x: dic[x]

In [73]:
y['Churn'] = y['Churn'].apply(convert)

C:\Users\owner\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
y.head()

   Churn
0      0
1      0
2      1
3      0
4      1

In [75]:
from sklearn.decomposition import PCA

In [76]:
pca  = PCA()

In [77]:
pca.fit(X_std)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [78]:
pca.explained_variance_ratio_

array([1.69114976e-01, 1.27282034e-01, 1.10031391e-01, 6.84881238e-02,
       6.30060608e-02, 5.37311750e-02, 4.61817451e-02, 3.83184907e-02,
       3.52364312e-02, 3.28396133e-02, 3.02611522e-02, 2.88026355e-02,
       2.59043876e-02, 2.46774967e-02, 2.22965168e-02, 2.17809812e-02,
       2.01477482e-02, 1.94054918e-02, 1.57627139e-02, 1.52117831e-02,
       1.43786676e-02, 1.00014606e-02, 3.74114585e-03, 3.08893934e-03,
       2.94561335e-04, 1.42767688e-05, 1.53278235e-31, 9.85841721e-32,
       4.07766216e-32, 2.37924679e-32, 1.66405057e-32, 1.47564656e-32,
       9.64829972e-33, 9.46293300e-33, 8.86258131e-33, 7.64562480e-33,
       6.73325389e-33, 5.73987656e-33, 4.90750514e-33, 3.63830847e-33,
       2.67052796e-33, 2.42327593e-33, 1.77444315e-33, 1.04959722e-33,
       1.01906708e-33, 1.01906708e-33, 1.01906708e-33, 1.01906708e-33,
       1.01906708e-33, 1.01906708e-33, 1.01906708e-33, 1.01906708e-33,
       1.01906708e-33, 1.01906708e-33, 1.01906708e-33, 1.01906708e-33,
       1.01906708e-33, 1.01906708e-33, 6.38479180e-34, 1.47467565e-34,
       2.32856035e-35])

In [ ]:
pca.explained_variance_ratio_

In [79]:
pca  = PCA(n_components = 4)
X_pca = pca.fit_transform(X)

In [80]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier


from yellowbrick.model_selection import CVScores

from sklearn.model_selection import train_test_split

C:\Users\owner\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size = .3, random_state = 1000, stratify = y)

ValueError: Found input variables with inconsistent numbers of samples: [7032, 7043]

In [ ]:
cv = StratifiedKFold(n_splits = 10, random_state = 42)

In [ ]:
model_log = LogisticRegression(penalty='l1', C = 100)
visualizer = CVScores(model_log, cv = cv, scoring = 'f1_weighted')

In [ ]:
visualizer.fit(X_train, y_train)
visualizer.show()

In [ ]:
visualizer.fit(X_train, y_train)
visualizer.show()

In [ ]:
from sklearn.ensemble import RandomForestClassifier as RFC
model_random = RFC()
visualizer = CVScores(model_random, cv = cv, scoring = 'f1_weighted')
visualizer.fit(X_train, y_train)
visualizer.show()

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
def confusion(model):
    clf = model
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('Confusion Matrix:', confusion_matrix(y_test, y_pred))
    print('Classification Report: ', classification_report(y_test, y_pred))
    
    return clf

In [ ]:
confusion(model_log)

In [ ]:
confusion(model_log)

In [ ]:
y['Churn'].value_counts()

In [ ]:
confusion(model_random)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier as ABC

In [ ]:
model_ADA = ABC(n_estimators = 100, learning_rate= 0.01)

In [ ]:
confusion(model_ADA)

In [ ]:
confusion(model_ADA)

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [ ]:
model_dict = {'model_lgr': LogisticRegression(),
             'model_rfc': RandomForestClassifier(),
              'model_dtc': DecisionTreeClassifier()}

In [ ]:
for model in model_dict.keys():
    confusion(model_dict[model])

In [ ]:
__init__
__str__
__main__

In [ ]:
# Shallow and Deep copy

In [ ]:
num = [1, 2, 3, 4]

In [ ]:
num1 = num

In [ ]:
num1

In [ ]:
num1[0] = 1000

In [ ]:
num1

In [ ]:
num

In [ ]:
id(num)

In [ ]:
id(num1)

In [ ]:
num3 = num.copy()

In [ ]:
id(num3)

In [ ]:
num3

In [ ]:
num3[3] = 2000

In [ ]:
num3

In [ ]:
num

In [ ]:
df2 = df.copy()

In [ ]:
id(df2)

In [ ]:
id(df)

In [82]:
import torch
import torch.nn as nn

In [83]:
name = ['Omolewa', 'Ihuoma', 'Shayo']

In [90]:
col_dict = {}

In [91]:
for i, nm in enumerate(name):
    col_dict[nm] = i

In [92]:
col_dict

{'Omolewa': 0, 'Ihuoma': 1, 'Shayo': 2}

In [94]:
col_dict['Ihuoma']

1

In [ ]:
embeds = nn.Embedding(len(keys), self.n_dim)

In [98]:
embeds = nn.Embedding(5, 3)

In [99]:
embeds.weight

Parameter containing:
tensor([[ 1.5245, -1.2183, -1.0381],
        [-0.2711,  1.1451,  0.8066],
        [ 0.0205, -1.4539,  1.2347],
        [ 0.7547,  0.9323, -0.1431],
        [ 1.4307,  0.2461,  1.1091]], requires_grad=True)

In [105]:
embeds(torch.tensor(col_dict['Omolewa'])).dtype

torch.float32

In [101]:
embeds(torch.tensor(2))

tensor([ 0.0205, -1.4539,  1.2347], grad_fn=<EmbeddingBackward>)