In [50]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import lib.clean as lc
import lib.data_preprocessing as DP

# Extract the Data
df = pd.read_csv('Telco_Customer_Churn.csv')

In [51]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df['CreatedTenure'] = df['tenure'].apply(lc.transform1)

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,CreatedTenure
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,One_Year
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,One_Year
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,One_Year
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,One_Year
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,One_Year

In [5]:
def get_categorical():
    '''Doc string'''
    #target_col = ['Churn']
    cat_cols = df.nunique()[df.nunique() < 6].keys().tolist() # getting
    #self.cat_cols = [x for x in self.cat_cols if x not in target_col]
    num_cols = [x for x in df.columns if x not in cat_cols]
    bin_cols = df.nunique()[df.nunique() == 2].keys().tolist()
    multi_cols = [x for x in cat_cols if x not in bin_cols]
    return multi_cols, bin_cols

In [ ]:
[x for x in df.columns if x not in cat_cols]

In [18]:
df['gender']

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object

In [11]:
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
CreatedTenure          2
dtype: int64

In [14]:
df.nunique()[df.nunique() < 6]

gender              2
SeniorCitizen       2
Partner             2
Dependents          2
PhoneService        2
MultipleLines       3
InternetService     3
OnlineSecurity      3
OnlineBackup        3
DeviceProtection    3
TechSupport         3
StreamingTV         3
StreamingMovies     3
Contract            3
PaperlessBilling    2
PaymentMethod       4
Churn               2
CreatedTenure       2
dtype: int64

In [15]:
df.nunique()[df.nunique() < 6].keys()

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn',
       'CreatedTenure'],
      dtype='object')

In [16]:
df.nunique()[df.nunique() < 6].keys().tolist()

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn',
 'CreatedTenure']

In [52]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [53]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [54]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [55]:
df = df.replace(" ", np.nan)

In [56]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [57]:
df.shape

(7043, 21)

In [58]:
df.dropna(how = 'any', inplace = True)

In [59]:
df.shape

(7032, 21)

In [60]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
# Data Cleaning
#print(df.isna().sum())

# Capitalize the column names
df = lib.clean.clean_dataframe(df)

df = lib.clean.group_tenure(df)

# Data Preprocessing
keep_columns = []
for col in df.columns:
    if col not in ['CreatedTenure', 'Customerid']:
        keep_columns.append(col)

df = df[keep_columns]

In [ ]:
df.head()

In [61]:
y = df[['Churn']]

In [62]:
y.head()

  Churn
0    No
1    No
2   Yes
3    No
4   Yes

In [63]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [64]:
df.drop(['Churn'], axis = 1, inplace = True)

In [65]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [66]:
dp = DP.PreProcessing(df)

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.df = df.copy()

In [67]:
multCol, binCol = dp.get_categorical()

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:20: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.cat_cols = self.df.nunique()[self.df.nunique() < 6].keys().tolist() # getting
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:22: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.num_cols = [x for x in self.df.columns if x not in self.cat_cols]
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.bin_cols = self.df.nunique()[self.df.nunique() == 2].keys().tolist()
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.multi_cols = [x for x in self.cat_cols if x not in self.bin_cols]

In [68]:
multCol

['MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaymentMethod']

In [69]:
binCol

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'PaperlessBilling']

In [70]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [71]:
for col in multCol:
    emb = DP.Embedding(df[col], 5, col)
    dfdf = emb.create()
    df = pd.concat([df, dfdf], axis = 1)
    df.drop(col, axis =1, inplace = True)

TypeError: argument must be a string or number

In [ ]:
df.head()

In [ ]:
pre = DP.PreProcessing(df)

In [ ]:
df = pre.Encode_OHE()

In [ ]:
df.to_csv('Model_DataFrame.csv')

In [19]:
X = pd.read_csv('Model_DataFrame.csv')

In [20]:
X.head()

,Unnamed: 0,Tenure,Monthlycharges,Totalcharges,Multiplelines_0,Multiplelines_1,Multiplelines_2,Multiplelines_3,Multiplelines_4,Internetservice_0,...,Deviceprotection_No,Deviceprotection_Yes,Techsupport_No,Techsupport_Yes,Streamingtv_No,Streamingtv_Yes,Streamingmovies_No,Streamingmovies_Yes,Paperlessbilling_No,Paperlessbilling_Yes
0,0,1,29.85,29.85,1,1,0,0,0,2,...,1,0,1,0,1,0,1,0,0,1
1,1,34,56.95,1889.50,2,2,2,2,1,2,...,0,1,1,0,1,0,1,0,1,0
2,2,2,53.85,108.15,2,2,2,2,1,2,...,1,0,1,0,1,0,1,0,0,1
3,3,45,42.30,1840.75,1,1,0,0,0,2,...,0,1,0,1,1,0,1,0,1,0
4,4,2,70.70,151.65,2,2,2,2,1,1,...,1,0,1,0,1,0,1,0,0,1

In [21]:
X.columns

Index(['Unnamed: 0', 'Tenure', 'Monthlycharges', 'Totalcharges',
       'Multiplelines_0', 'Multiplelines_1', 'Multiplelines_2',
       'Multiplelines_3', 'Multiplelines_4', 'Internetservice_0',
       'Internetservice_1', 'Internetservice_2', 'Internetservice_3',
       'Internetservice_4', 'Contract_0', 'Contract_1', 'Contract_2',
       'Contract_3', 'Contract_4', 'Paymentmethod_0', 'Paymentmethod_1',
       'Paymentmethod_2', 'Paymentmethod_3', 'Paymentmethod_4',
       'Gender_Female', 'Gender_Male', 'Seniorcitizen_No', 'Seniorcitizen_Yes',
       'Partner_No', 'Partner_Yes', 'Dependents_No', 'Dependents_Yes',
       'Phoneservice_No', 'Phoneservice_Yes', 'Onlinesecurity_No',
       'Onlinesecurity_Yes', 'Onlinebackup_No', 'Onlinebackup_Yes',
       'Deviceprotection_No', 'Deviceprotection_Yes', 'Techsupport_No',
       'Techsupport_Yes', 'Streamingtv_No', 'Streamingtv_Yes',
       'Streamingmovies_No', 'Streamingmovies_Yes', 'Paperlessbilling_No',
       'Paperlessbilling_Yes'],
      dtype='object')

1. Scaling (standard scaler)
2. feature extraction (PCA)
3. pass through algorithms
4. Check the metrics (confusion matrix)
5. Prediction

In [22]:
X.drop('Unnamed: 0', axis = 1, inplace = True)

In [23]:
X.head()

,Tenure,Monthlycharges,Totalcharges,Multiplelines_0,Multiplelines_1,Multiplelines_2,Multiplelines_3,Multiplelines_4,Internetservice_0,Internetservice_1,...,Deviceprotection_No,Deviceprotection_Yes,Techsupport_No,Techsupport_Yes,Streamingtv_No,Streamingtv_Yes,Streamingmovies_No,Streamingmovies_Yes,Paperlessbilling_No,Paperlessbilling_Yes
0,1,29.85,29.85,1,1,0,0,0,2,2,...,1,0,1,0,1,0,1,0,0,1
1,34,56.95,1889.50,2,2,2,2,1,2,2,...,0,1,1,0,1,0,1,0,1,0
2,2,53.85,108.15,2,2,2,2,1,2,2,...,1,0,1,0,1,0,1,0,0,1
3,45,42.30,1840.75,1,1,0,0,0,2,2,...,0,1,0,1,1,0,1,0,1,0
4,2,70.70,151.65,2,2,2,2,1,1,0,...,1,0,1,0,1,0,1,0,0,1

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc = StandardScaler()

In [26]:
sc.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [27]:
X_std = sc.transform(X)

In [28]:
X_std

array([[-1.28024804, -1.16169394, -0.99419409, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [ 0.06430269, -0.26087792, -0.17373982, ..., -0.79684918,
         1.20636117, -1.20636117],
       [-1.23950408, -0.36392329, -0.95964911, ..., -0.79684918,
        -0.82893915,  0.82893915],
       ...,
       [-0.87280842, -1.17000405, -0.85451414, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [-1.15801615,  0.31916782, -0.87209546, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [ 1.36810945,  1.35793167,  2.01234407, ...,  1.25494263,
        -0.82893915,  0.82893915]])

In [29]:
X_std1 = sc.fit_transform(X)

In [30]:
X_std1

array([[-1.28024804, -1.16169394, -0.99419409, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [ 0.06430269, -0.26087792, -0.17373982, ..., -0.79684918,
         1.20636117, -1.20636117],
       [-1.23950408, -0.36392329, -0.95964911, ..., -0.79684918,
        -0.82893915,  0.82893915],
       ...,
       [-0.87280842, -1.17000405, -0.85451414, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [-1.15801615,  0.31916782, -0.87209546, ..., -0.79684918,
        -0.82893915,  0.82893915],
       [ 1.36810945,  1.35793167,  2.01234407, ...,  1.25494263,
        -0.82893915,  0.82893915]])

In [31]:
# Check later
convert = lambda x: 1 if x is 'Yes' else 0

In [32]:
dic = {'Yes': 1, 'No': 0}

In [33]:
convert = lambda x: dic[x]

In [36]:
y['Churn'] = y['Churn'].apply(convert)

C:\Users\owner\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
y.head()

   Churn
0      0
1      0
2      1
3      0
4      1

In [38]:
from sklearn.decomposition import PCA

In [39]:
pca  = PCA(n_components = 4)

In [40]:
pca.fit(X_std)

PCA(copy=True, iterated_power='auto', n_components=4, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [41]:
pca.explained_variance_ratio_

array([0.20893234, 0.14581465, 0.08821911, 0.06360654])

In [42]:
pca.explained_variance_ratio_

array([0.20893234, 0.14581465, 0.08821911, 0.06360654])

In [43]:
pca  = PCA(n_components = 4)
X_pca = pca.fit_transform(X)

In [48]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier


from yellowbrick.model_selection import CVScores

from sklearn.model_selection import train_test_split

C:\Users\owner\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size = .3, random_state = 1000, stratify = y)

ValueError: Found input variables with inconsistent numbers of samples: [7032, 7043]

In [ ]:
cv = StratifiedKFold(n_splits = 10, random_state = 42)

In [ ]:
model_log = LogisticRegression(penalty='l1', C = 100)
visualizer = CVScores(model_log, cv = cv, scoring = 'f1_weighted')

In [ ]:
visualizer.fit(X_train, y_train)
visualizer.show()

In [ ]:
visualizer.fit(X_train, y_train)
visualizer.show()

In [ ]:
from sklearn.ensemble import RandomForestClassifier as RFC
model_random = RFC()
visualizer = CVScores(model_random, cv = cv, scoring = 'f1_weighted')
visualizer.fit(X_train, y_train)
visualizer.show()

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [72]:
def confusion(model):
    clf = model
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('Confusion Matrix:', confusion_matrix(y_test, y_pred))
    print('Classification Report: ', classification_report(y_test, y_pred))
    
    return clf

In [ ]:
confusion(model_log)

In [ ]:
confusion(model_log)

In [ ]:
y['Churn'].value_counts()

In [ ]:
confusion(model_random)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier as ABC

In [ ]:
model_ADA = ABC(n_estimators = 100, learning_rate= 0.01)

In [ ]:
confusion(model_ADA)

In [ ]:
confusion(model_ADA)

In [46]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [47]:
model_dict = {'model_lgr': LogisticRegression(),
             'model_rfc': RandomForestClassifier(),
              'model_dtc': DecisionTreeClassifier()}

In [ ]:
for model in model_dict.keys():
    confusion(model_dict[model])

In [ ]:
__init__
__str__
__main__

In [ ]:
# Shallow and Deep copy

In [ ]:
num = [1, 2, 3, 4]

In [ ]:
num1 = num

In [ ]:
num1

In [ ]:
num1[0] = 1000

In [ ]:
num1

In [ ]:
num

In [ ]:
id(num)

In [ ]:
id(num1)

In [ ]:
num3 = num.copy()

In [ ]:
id(num3)

In [ ]:
num3

In [ ]:
num3[3] = 2000

In [ ]:
num3

In [ ]:
num

In [ ]:
df2 = df.copy()

In [ ]:
id(df2)

In [ ]:
id(df)

In [ ]:
!pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html