In [30]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import lib.clean
import lib.data_preprocessing as DP

# Extract the Data
df = pd.read_csv('Telco_Customer_Churn.csv')

# Data Cleaning
#print(df.isna().sum())

# Capitalize the column names
df = lib.clean.clean_dataframe(df)

df = lib.clean.group_tenure(df)

# Data Preprocessing
keep_columns = []
for col in df.columns:
    if col not in ['CreatedTenure', 'Customerid']:
        keep_columns.append(col)

df = df[keep_columns]

In [31]:
df.head()

,Gender,Seniorcitizen,Partner,Dependents,Tenure,Phoneservice,Multiplelines,Internetservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,Streamingtv,Streamingmovies,Contract,Paperlessbilling,Paymentmethod,Monthlycharges,Totalcharges,Churn
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [32]:
y = df[['Churn']]

In [33]:
df.head()

,Gender,Seniorcitizen,Partner,Dependents,Tenure,Phoneservice,Multiplelines,Internetservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,Streamingtv,Streamingmovies,Contract,Paperlessbilling,Paymentmethod,Monthlycharges,Totalcharges,Churn
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [34]:
df.drop(['Churn'], axis = 1, inplace = True)

In [35]:
df.head()

,Gender,Seniorcitizen,Partner,Dependents,Tenure,Phoneservice,Multiplelines,Internetservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,Streamingtv,Streamingmovies,Contract,Paperlessbilling,Paymentmethod,Monthlycharges,Totalcharges
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [36]:
dp = DP.PreProcessing(df)

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.df = df.copy()

In [37]:
multCol, binCol = dp.get_categorical()

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:20: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.cat_cols = self.df.nunique()[self.df.nunique() < 6].keys().tolist() # getting
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:22: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.num_cols = [x for x in self.df.columns if x not in self.cat_cols]
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.bin_cols = self.df.nunique()[self.df.nunique() == 2].keys().tolist()
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.multi_cols = [x for x in self.cat_cols if x not in self.bin_cols]

In [38]:
multCol

['Multiplelines', 'Internetservice', 'Contract', 'Paymentmethod']

In [39]:
binCol

['Gender',
 'Seniorcitizen',
 'Partner',
 'Dependents',
 'Phoneservice',
 'Onlinesecurity',
 'Onlinebackup',
 'Deviceprotection',
 'Techsupport',
 'Streamingtv',
 'Streamingmovies',
 'Paperlessbilling']

In [40]:
for col in multCol:
    emb = DP.Embedding(df[col], 5, col)
    dfdf = emb.create()
    df = pd.concat([df, dfdf], axis = 1)
    df.drop(col, axis =1, inplace = True)

In [41]:
df.head()

,Gender,Seniorcitizen,Partner,Dependents,Tenure,Phoneservice,Onlinesecurity,Onlinebackup,Deviceprotection,Techsupport,...,Contract_0,Contract_1,Contract_2,Contract_3,Contract_4,Paymentmethod_0,Paymentmethod_1,Paymentmethod_2,Paymentmethod_3,Paymentmethod_4
0,Female,No,Yes,No,1,No,No,Yes,No,No,...,-0.696185,0.710276,0.918247,0.493339,1.230987,-0.241936,0.017209,-0.371891,0.075699,1.088837
1,Male,No,No,No,34,Yes,Yes,No,Yes,No,...,-1.699862,1.060317,-0.183720,-0.378835,0.608247,-0.130761,-0.941183,1.240021,0.916622,0.769854
2,Male,No,No,No,2,Yes,Yes,Yes,No,No,...,-0.696185,0.710276,0.918247,0.493339,1.230987,-0.130761,-0.941183,1.240021,0.916622,0.769854
3,Male,No,No,No,45,No,Yes,No,Yes,Yes,...,-1.699862,1.060317,-0.183720,-0.378835,0.608247,-0.404336,1.345126,-0.204079,1.047838,-0.256913
4,Female,No,No,No,2,Yes,No,No,No,No,...,-0.696185,0.710276,0.918247,0.493339,1.230987,-0.241936,0.017209,-0.371891,0.075699,1.088837

In [42]:
pre = DP.PreProcessing(df)

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.df = df.copy()

In [43]:
pre.Encode_OHE()

C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:20: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.cat_cols = self.df.nunique()[self.df.nunique() < 6].keys().tolist() # getting
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:22: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.num_cols = [x for x in self.df.columns if x not in self.cat_cols]
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.bin_cols = self.df.nunique()[self.df.nunique() == 2].keys().tolist()
C:\Users\owner\class\classCLASS\classMaterials\projectDemo\DEMO\lib\data_preprocessing.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.multi_cols = [x for x in self.cat_cols if x not in self.bin_cols]

,Tenure,Monthlycharges,Totalcharges,Multiplelines_0,Multiplelines_1,Multiplelines_2,Multiplelines_3,Multiplelines_4,Internetservice_0,Internetservice_1,...,Deviceprotection_No,Deviceprotection_Yes,Techsupport_No,Techsupport_Yes,Streamingtv_No,Streamingtv_Yes,Streamingmovies_No,Streamingmovies_Yes,Paperlessbilling_No,Paperlessbilling_Yes
0,1,29.85,29.85,0,0,0,0,2,1,1,...,1,0,1,0,1,0,1,0,0,1
1,34,56.95,1889.50,2,1,1,2,0,1,1,...,0,1,1,0,1,0,1,0,1,0
2,2,53.85,108.15,2,1,1,2,0,1,1,...,1,0,1,0,1,0,1,0,0,1
3,45,42.30,1840.75,0,0,0,0,2,1,1,...,0,1,0,1,1,0,1,0,1,0
4,2,70.70,151.65,2,1,1,2,0,0,2,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,24,84.80,1990.50,1,2,2,1,1,1,1,...,0,1,0,1,0,1,0,1,0,1
7039,72,103.20,7362.90,1,2,2,1,1,0,2,...,0,1,1,0,0,1,0,1,0,1
7040,11,29.60,346.45,0,0,0,0,2,1,1,...,1,0,1,0,1,0,1,0,0,1
7041,4,74.40,306.60,1,2,2,1,1,0,2,...,1,0,1,0,1,0,1,0,0,1
7042,66,105.65,6844.50,2,1,1,2,0,0,2,...,0,1,0,1,0,1,0,1,0,1

In [45]:
df.to_csv('Model_DataFrame.csv')

In [ ]:
# Shallow and Deep copy

In [ ]:
num = [1, 2, 3, 4]

In [ ]:
num1 = num

In [ ]:
num1

In [ ]:
num1[0] = 1000

In [ ]:
num1

In [ ]:
num

In [ ]:
id(num)

In [ ]:
id(num1)

In [ ]:
num3 = num.copy()

In [ ]:
id(num3)

In [ ]:
num3

In [ ]:
num3[3] = 2000

In [ ]:
num3

In [ ]:
num

In [ ]:
df2 = df.copy()

In [ ]:
id(df2)

In [ ]:
id(df)