In [4]:
with open('davidgoestoschool.txt') as file_object:
    contents = file_object.read()
print(contents)

I am going to school tomorrow
      and I will branch at Shola's House
      Ask Question
Asked 2 years, 1 month ago
Active 2 years, 1 month ago
Viewed 3k times

1


1
I have the following data frame:

Date     Value1   Value2
01-01-01     01       01
02-01-01     02       00
03-01-01     03       01
04-01-01     04      101
On this data frame I would like to select just the rows having Value2==0 and Value2>=100

For that, I use the following command:

data.loc[(data['Value2'] == 0) & (data['Value2'] >= 100)]
Which return me an empty DataFrame. I don't really understand why because when I used separately:

data.loc[(data['Value2'] == 0)]
or:

data.loc[(data['Value2'] >= 100)
It returns the corrected values. Does anyone knows how to implement this 2 conditions selection?

python pandas loc
share  improve this question  follow

In [5]:
name = '  Shola'

In [6]:
print(name.lstriprstrip())

  Shola

In [7]:
name

'  Shola'

In [9]:
filename = 'davidgoestoschool.txt'

with open(filename) as file_object:
    for line in file_object:
        print(line, end = ' ')

I am going to school tomorrow
       and I will branch at Shola's House
       Ask Question
 Asked 2 years, 1 month ago
 Active 2 years, 1 month ago
 Viewed 3k times

 1


 1
 I have the following data frame:

 Date     Value1   Value2
 01-01-01     01       01
 02-01-01     02       00
 03-01-01     03       01
 04-01-01     04      101
 On this data frame I would like to select just the rows having Value2==0 and Value2>=100

 For that, I use the following command:

 data.loc[(data['Value2'] == 0) & (data['Value2'] >= 100)]
 Which return me an empty DataFrame. I don't really understand why because when I used separately:

 data.loc[(data['Value2'] == 0)]
 or:

 data.loc[(data['Value2'] >= 100)
 It returns the corrected values. Does anyone knows how to implement this 2 conditions selection?

 python pandas loc
 share  improve this question  follow

In [10]:
text = 'My name is Bukola Omolewa and I love Cats and Dogs and I am in the same class with Shola and Akeem'
filename = 'AkeemShola.txt'

with open(filename, 'w') as file_object:
    file_object.write(text)

In [11]:
text2 = '\nAlso am a Machine Learning Engineer and currently working with Bank of America'

with open(filename, 'a') as file_object:
    file_object.write(text2)

In [13]:
text2 = 'Also am a Machine Learning Engineer and currently working with Bank of America'

with open(filename, 'w') as file_object:
    file_object.write(text2)

In [15]:
with open('AkeemShola.txt') as file_object:
    contents = file_object.read()
print(contents)

Also am a Machine Learning Engineer and currently working with Bank of America

In [16]:
contents

'Also am a Machine Learning Engineer and currently working with Bank of America'

In [17]:
contents.split()

['Also',
 'am',
 'a',
 'Machine',
 'Learning',
 'Engineer',
 'and',
 'currently',
 'working',
 'with',
 'Bank',
 'of',
 'America']

In [21]:
def div(divisor, dividend):
    if dividend == 0:
        return 'Not Divisible'
    else:
        return divisor / dividend

In [22]:
div(4, 2)

2.0

In [23]:
div(4, 0)

'Not Divisible'

In [24]:
def div(divisor, dividend):
    return divisor / dividend

In [25]:
div(3, 0)

ZeroDivisionError: division by zero

In [30]:
def div(divisor, dividend):
    try:
        return divisor / dividend
    except ZeroDivisionError:
        return 'Not Divisible'

In [31]:
div(3, 0)

'Not Divisible'