# Python Lists
* A list is a collection of items in a particular order. 
* A list is mutable
* Square bracket ([]) indicate a list and each element are separated by commas

In [2]:
# Example a list
[2, 5, 'Omolewa']

[2, 5, 'Omolewa']

In [13]:
names = ['Omolewa', 'John', 'David']

In [14]:
type(names)

list

In [15]:
names.append('Ihuoma')

In [16]:
names

['Omolewa', 'John', 'David', 'Ihuoma']

### Accessing Elements in a list

In [3]:
names[0]

'Omolewa'

In [4]:
names[-1]

'David'

### Changing, Adding and Removing Elements

In [7]:
del names[1]

In [8]:
names

['Omolewa', 'David', 'Ihuoma']

In [9]:
names.pop(2)

'Ihuoma'

In [10]:
names

['Omolewa', 'David']

In [11]:
names.remove('Omolewa')

In [12]:
names

['David']

In [ ]:
names.

### Sorting elements of list temporarily using sorted() method

In [17]:
sorted(names)

['David', 'Ihuoma', 'John', 'Omolewa']

In [18]:
names

['Omolewa', 'John', 'David', 'Ihuoma']

### Sorting elements of list permanently using sorted() method

In [19]:
names.sort()

In [20]:
names

['David', 'Ihuoma', 'John', 'Omolewa']

In [21]:
names

['David', 'Ihuoma', 'John', 'Omolewa']

In [22]:
names2 = [2, 5, 'Omolewa']

### Built-in list methods

In [23]:
names.extend(names2)

In [24]:
names

['David', 'Ihuoma', 'John', 'Omolewa', 2, 5, 'Omolewa']

In [25]:
names.append(names2)

In [26]:
names

['David', 'Ihuoma', 'John', 'Omolewa', 2, 5, 'Omolewa', [2, 5, 'Omolewa']]

In [ ]:
# Create a function

### Working with List

In [27]:
len(names)

8

In [28]:
names.reverse()

In [29]:
names

[[2, 5, 'Omolewa'], 'Omolewa', 5, 2, 'Omolewa', 'John', 'Ihuoma', 'David']

In [40]:
numbers = [2, 4, 6, 8, 10, 45, 21, 12, 34, 11]

In [41]:
squares = []

In [42]:
for num in numbers:
    squares.append(num ** 2)

In [43]:
squares

[4, 16, 36, 64, 100, 2025, 441, 144, 1156, 121]

In [33]:
2 ** 3

8

In [38]:
numbers[1::2]

[4, 8, 45, 12, 11]

### List Comprehension

In [44]:
[x ** 2 for x in numbers]

[4, 16, 36, 64, 100, 2025, 441, 144, 1156, 121]

In [47]:
[x ** 2 for x in numbers if x % 2 == 0]

[4, 16, 36, 64, 100, 144, 1156]

In [45]:
12 % 2

0

In [46]:
13 % 5

3