In [1]:
import pandas as pd
import numpy as np

In [2]:
pop = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv')
areas = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv')
abbrevs = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv')

In [8]:
def add(df):
    return sum(df['population'])

In [9]:
pop.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [13]:
grouped = pop.groupby(['ages', 'year'])

In [14]:
dfx = grouped.apply(add)

In [15]:
dfx

ages     year
total    1990            NaN
         1991            NaN
         1992            NaN
         1993            NaN
         1994            NaN
         1995            NaN
         1996            NaN
         1997            NaN
         1998            NaN
         1999            NaN
         2000    568135427.0
         2001    573756684.0
         2002    579074087.0
         2003    584041961.0
         2004    589437474.0
         2005    594854560.0
         2006    600565038.0
         2007    606245409.0
         2008    611948798.0
         2009    617283468.0
         2010    622373798.0
         2011    626851708.0
         2012    631398915.0
         2013    635872764.0
under18  1990            NaN
         1991            NaN
         1992            NaN
         1993            NaN
         1994            NaN
         1995            NaN
         1996            NaN
         1997            NaN
         1998            NaN
         1999            NaN
         2000    145841441.0
         2001    146419916.0
         2002    146937965.0
         2003    147252131.0
         2004    147631389.0
         2005    148066785.0
         2006    148513971.0
         2007    149012423.0
         2008    149154909.0
         2009    149189128.0
         2010    149136057.0
         2011    148673771.0
         2012    148258098.0
         2013    147985812.0
dtype: float64